body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:934px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8759 {
  position:absolute;
  left:40px;
  top:122px;
  width:900px;
  height:934px;
}
#u8760 {
  position:absolute;
  left:2px;
  top:459px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1B1B1B;
}
#u8761 {
  position:absolute;
  left:40px;
  top:102px;
  width:300px;
  height:60px;
  font-size:18px;
  color:#1B1B1B;
}
#u8762 {
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u8763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1B1B1B;
}
#u8763 {
  position:absolute;
  left:339px;
  top:102px;
  width:302px;
  height:60px;
  font-size:18px;
  color:#1B1B1B;
}
#u8764 {
  position:absolute;
  left:2px;
  top:19px;
  width:298px;
  word-wrap:break-word;
}
#u8765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u8765 {
  position:absolute;
  left:885px;
  top:60px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#0066FF;
}
#u8766 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1B1B1B;
}
#u8767 {
  position:absolute;
  left:640px;
  top:102px;
  width:300px;
  height:60px;
  font-size:18px;
  color:#1B1B1B;
}
#u8768 {
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u8769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
}
#u8769 {
  position:absolute;
  left:280px;
  top:369px;
  width:300px;
  height:40px;
  color:#434343;
}
#u8770 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u8771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#515151;
}
#u8771 {
  position:absolute;
  left:280px;
  top:369px;
  width:48px;
  height:40px;
  font-size:20px;
  color:#515151;
}
#u8772 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u8773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8773 {
  position:absolute;
  left:280px;
  top:429px;
  width:300px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8774 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u8775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u8775 {
  position:absolute;
  left:600px;
  top:429px;
  width:100px;
  height:50px;
  font-size:15px;
  color:#797979;
}
#u8776 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u8777 {
  position:absolute;
  left:280px;
  top:909px;
  width:200px;
  height:16px;
}
#u8778 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u8777_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u8779 {
  position:absolute;
  left:280px;
  top:948px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#363636;
}
#u8780 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u8781 {
  position:absolute;
  left:280px;
  top:1015px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#0066FF;
}
#u8782 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8783 {
  position:absolute;
  left:595px;
  top:1019px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u8784 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u8785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8785 {
  position:absolute;
  left:280px;
  top:224px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8786 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8787 {
  position:absolute;
  left:280px;
  top:294px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8788 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8789 {
  position:absolute;
  left:280px;
  top:499px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8790 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8791 {
  position:absolute;
  left:301px;
  top:199px;
  width:154px;
  height:15px;
  font-size:12px;
}
#u8792 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8793 {
  position:absolute;
  left:280px;
  top:199px;
  width:16px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u8794 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u8795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
}
#u8795 {
  position:absolute;
  left:975px;
  top:102px;
  width:300px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
  line-height:22px;
}
#u8796 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
}
#u8797 {
  position:absolute;
  left:41px;
  top:33px;
  width:193px;
  height:59px;
  font-size:14px;
}
#u8798 {
  position:absolute;
  left:2px;
  top:20px;
  width:189px;
  word-wrap:break-word;
}
#u8799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:34px;
}
#u8799 {
  position:absolute;
  left:985px;
  top:232px;
  width:381px;
  height:34px;
  font-size:15px;
}
#u8800 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u8801 {
  position:absolute;
  left:700px;
  top:249px;
  width:0px;
  height:0px;
}
#u8801_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:289px;
  height:8px;
}
#u8801_seg1 {
  position:absolute;
  left:271px;
  top:-10px;
  width:21px;
  height:20px;
}
#u8802 {
  position:absolute;
  left:92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u8803 {
  position:absolute;
  left:985px;
  top:276px;
  width:230px;
  height:40px;
  font-size:15px;
  text-align:left;
}
#u8804 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u8805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8805 {
  position:absolute;
  left:985px;
  top:325px;
  width:141px;
  height:16px;
  color:#FF0000;
}
#u8806 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8807 {
  position:absolute;
  left:280px;
  top:709px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8808 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8809 {
  position:absolute;
  left:280px;
  top:849px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8810 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8811 {
  position:absolute;
  left:280px;
  top:779px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8812 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8813 {
  position:absolute;
  left:431px;
  top:1089px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8814 {
  position:absolute;
  left:280px;
  top:639px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8815 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8816 {
  position:absolute;
  left:280px;
  top:569px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8817 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
