body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:532px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u26960 {
  position:absolute;
  left:350px;
  top:231px;
  width:880px;
  height:532px;
  font-size:16px;
  text-align:left;
}
#u26961 {
  position:absolute;
  left:2px;
  top:258px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u26962 {
  position:absolute;
  left:380px;
  top:280px;
  width:61px;
  height:16px;
  font-size:15px;
  color:#A1A1A1;
}
#u26963 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u26964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26964 {
  position:absolute;
  left:1096px;
  top:281px;
  width:97px;
  height:35px;
  font-size:14px;
}
#u26965 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u26966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#434343;
}
#u26966 {
  position:absolute;
  left:493px;
  top:280px;
  width:506px;
  height:33px;
  font-size:15px;
  color:#434343;
}
#u26967 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u26968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u26968 {
  position:absolute;
  left:380px;
  top:380px;
  width:61px;
  height:16px;
  font-size:15px;
  color:#A1A1A1;
}
#u26969 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u26970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#434343;
}
#u26970 {
  position:absolute;
  left:493px;
  top:380px;
  width:529px;
  height:17px;
  font-size:15px;
  color:#434343;
}
#u26971 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u26972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u26972 {
  position:absolute;
  left:380px;
  top:464px;
  width:61px;
  height:16px;
  font-size:15px;
  color:#A1A1A1;
}
#u26973 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u26974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#434343;
}
#u26974 {
  position:absolute;
  left:493px;
  top:464px;
  width:529px;
  height:17px;
  font-size:15px;
  color:#434343;
}
#u26975 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u26976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u26976 {
  position:absolute;
  left:380px;
  top:550px;
  width:61px;
  height:16px;
  font-size:15px;
  color:#A1A1A1;
}
#u26977 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u26978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#434343;
}
#u26978 {
  position:absolute;
  left:493px;
  top:550px;
  width:529px;
  height:17px;
  font-size:15px;
  color:#434343;
}
#u26979 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u26980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26980 {
  position:absolute;
  left:1096px;
  top:541px;
  width:97px;
  height:35px;
  font-size:14px;
}
#u26981 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u26982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26982 {
  position:absolute;
  left:1096px;
  top:455px;
  width:97px;
  height:35px;
  font-size:14px;
}
#u26983 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u26984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u26984 {
  position:absolute;
  left:1096px;
  top:371px;
  width:97px;
  height:35px;
  font-size:14px;
}
#u26985 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u26986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u26986 {
  position:absolute;
  left:350px;
  top:170px;
  width:880px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u26987 {
  position:absolute;
  left:2px;
  top:22px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26988 {
  position:absolute;
  left:513px;
  top:192px;
  width:57px;
  height:16px;
}
#u26989 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u26990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26990 {
  position:absolute;
  left:647px;
  top:192px;
  width:57px;
  height:16px;
}
#u26991 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u26992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26992 {
  position:absolute;
  left:380px;
  top:192px;
  width:57px;
  height:16px;
}
#u26993 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u26994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26994 {
  position:absolute;
  left:674px;
  top:209px;
  width:4px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u26995 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u26996 {
  position:absolute;
  left:380px;
  top:634px;
  width:55px;
  height:16px;
  font-size:15px;
  color:#A1A1A1;
}
#u26997 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u26998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#434343;
}
#u26998 {
  position:absolute;
  left:493px;
  top:634px;
  width:529px;
  height:17px;
  font-size:15px;
  color:#434343;
}
#u26999 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u27000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u27000 {
  position:absolute;
  left:1096px;
  top:625px;
  width:97px;
  height:35px;
  font-size:14px;
}
#u27001 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u27002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u27002 {
  position:absolute;
  left:380px;
  top:709px;
  width:31px;
  height:16px;
  font-size:15px;
  color:#A1A1A1;
}
#u27003 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u27004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#434343;
}
#u27004 {
  position:absolute;
  left:493px;
  top:709px;
  width:529px;
  height:17px;
  font-size:15px;
  color:#434343;
}
#u27005 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  word-wrap:break-word;
}
#u27006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u27006 {
  position:absolute;
  left:1096px;
  top:700px;
  width:97px;
  height:35px;
  font-size:14px;
}
#u27007 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u27009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  -webkit-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
}
#u27009 {
  position:absolute;
  left:30px;
  top:10px;
  width:1200px;
  height:140px;
}
#u27010 {
  position:absolute;
  left:2px;
  top:62px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u27011 {
  position:absolute;
  left:1164px;
  top:85px;
  width:48px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u27012 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u27013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:91px;
}
#u27013 {
  position:absolute;
  left:44px;
  top:50px;
  width:249px;
  height:90px;
  font-size:16px;
}
#u27014 {
  position:absolute;
  left:2px;
  top:36px;
  width:245px;
  word-wrap:break-word;
}
#u27015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27015 {
  position:absolute;
  left:30px;
  top:0px;
  width:1200px;
  height:40px;
}
#u27016 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u27017 {
  position:absolute;
  left:44px;
  top:13px;
  width:253px;
  height:16px;
  color:#515151;
}
#u27018 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u27019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u27019 {
  position:absolute;
  left:1043px;
  top:13px;
  width:159px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u27020 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u27021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
}
#u27021 {
  position:absolute;
  left:540px;
  top:86px;
  width:257px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u27022 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u27023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u27023 {
  position:absolute;
  left:30px;
  top:219px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u27024 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u27025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u27025 {
  position:absolute;
  left:30px;
  top:270px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u27026 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u27027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u27027 {
  position:absolute;
  left:30px;
  top:322px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u27028 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u27029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u27029 {
  position:absolute;
  left:30px;
  top:373px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u27030 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u27031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u27031 {
  position:absolute;
  left:30px;
  top:424px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u27032 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u27033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27033 {
  position:absolute;
  left:30px;
  top:180px;
  width:6px;
  height:29px;
}
#u27034 {
  position:absolute;
  left:2px;
  top:6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u27035 {
  position:absolute;
  left:30px;
  top:169px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u27036 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u27037 {
  position:absolute;
  left:532px;
  top:931px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u27039 {
  position:absolute;
  left:30px;
  top:790px;
  width:1200px;
  height:150px;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u27040 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:16px;
}
#u27041 {
  position:absolute;
  left:56px;
  top:821px;
  width:584px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u27042 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u27043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:48px;
}
#u27043 {
  position:absolute;
  left:56px;
  top:867px;
  width:489px;
  height:48px;
  font-size:14px;
  color:#797979;
}
#u27044 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u27045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u27045 {
  position:absolute;
  left:817px;
  top:821px;
  width:164px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u27046 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u27047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u27047 {
  position:absolute;
  left:664px;
  top:812px;
  width:111px;
  height:35px;
  color:#FFFFFF;
}
#u27048 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u27049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:91px;
}
#u27049 {
  position:absolute;
  left:1026px;
  top:820px;
  width:182px;
  height:90px;
  font-size:16px;
}
#u27050 {
  position:absolute;
  left:2px;
  top:26px;
  width:178px;
  word-wrap:break-word;
}
#u27051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27051 {
  position:absolute;
  left:30px;
  top:434px;
  width:6px;
  height:29px;
}
#u27052 {
  position:absolute;
  left:2px;
  top:6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
