body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:934px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8936 {
  position:absolute;
  left:40px;
  top:122px;
  width:900px;
  height:934px;
}
#u8937 {
  position:absolute;
  left:2px;
  top:459px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1B1B1B;
}
#u8938 {
  position:absolute;
  left:40px;
  top:102px;
  width:300px;
  height:60px;
  font-size:18px;
  color:#1B1B1B;
}
#u8939 {
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u8940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:60px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1B1B1B;
}
#u8940 {
  position:absolute;
  left:339px;
  top:102px;
  width:302px;
  height:60px;
  font-size:18px;
  color:#1B1B1B;
}
#u8941 {
  position:absolute;
  left:2px;
  top:19px;
  width:298px;
  word-wrap:break-word;
}
#u8942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u8942 {
  position:absolute;
  left:885px;
  top:60px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#0066FF;
}
#u8943 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1B1B1B;
}
#u8944 {
  position:absolute;
  left:640px;
  top:102px;
  width:300px;
  height:60px;
  font-size:18px;
  color:#1B1B1B;
}
#u8945 {
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u8946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
}
#u8946 {
  position:absolute;
  left:280px;
  top:369px;
  width:300px;
  height:40px;
  color:#434343;
}
#u8947 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u8948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#515151;
}
#u8948 {
  position:absolute;
  left:280px;
  top:369px;
  width:48px;
  height:40px;
  font-size:20px;
  color:#515151;
}
#u8949 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u8950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8950 {
  position:absolute;
  left:280px;
  top:429px;
  width:300px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8951 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u8952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u8952 {
  position:absolute;
  left:600px;
  top:429px;
  width:100px;
  height:50px;
  font-size:15px;
  color:#797979;
}
#u8953 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u8954 {
  position:absolute;
  left:280px;
  top:909px;
  width:200px;
  height:16px;
}
#u8955 {
  position:absolute;
  left:16px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u8954_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u8956 {
  position:absolute;
  left:280px;
  top:948px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#363636;
}
#u8957 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0066FF;
}
#u8958 {
  position:absolute;
  left:280px;
  top:1015px;
  width:57px;
  height:20px;
  text-decoration:underline;
  color:#0066FF;
}
#u8959 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u8960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8960 {
  position:absolute;
  left:595px;
  top:1019px;
  width:105px;
  height:16px;
  font-size:13px;
}
#u8961 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u8962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8962 {
  position:absolute;
  left:280px;
  top:224px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8963 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8964 {
  position:absolute;
  left:280px;
  top:294px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8965 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8966 {
  position:absolute;
  left:280px;
  top:499px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8967 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8968 {
  position:absolute;
  left:301px;
  top:199px;
  width:154px;
  height:15px;
  font-size:12px;
}
#u8969 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8970 {
  position:absolute;
  left:280px;
  top:199px;
  width:16px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u8971 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u8972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
}
#u8972 {
  position:absolute;
  left:975px;
  top:102px;
  width:300px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
  line-height:22px;
}
#u8973 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
}
#u8974 {
  position:absolute;
  left:41px;
  top:33px;
  width:193px;
  height:59px;
  font-size:14px;
}
#u8975 {
  position:absolute;
  left:2px;
  top:20px;
  width:189px;
  word-wrap:break-word;
}
#u8976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:34px;
}
#u8976 {
  position:absolute;
  left:985px;
  top:232px;
  width:381px;
  height:34px;
  font-size:15px;
}
#u8977 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  word-wrap:break-word;
}
#u8978 {
  position:absolute;
  left:700px;
  top:249px;
  width:0px;
  height:0px;
}
#u8978_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:289px;
  height:8px;
}
#u8978_seg1 {
  position:absolute;
  left:271px;
  top:-10px;
  width:21px;
  height:20px;
}
#u8979 {
  position:absolute;
  left:92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-align:left;
}
#u8980 {
  position:absolute;
  left:985px;
  top:276px;
  width:230px;
  height:40px;
  font-size:15px;
  text-align:left;
}
#u8981 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u8982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8982 {
  position:absolute;
  left:985px;
  top:325px;
  width:141px;
  height:16px;
  color:#FF0000;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8984 {
  position:absolute;
  left:280px;
  top:709px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8985 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8986 {
  position:absolute;
  left:280px;
  top:849px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8987 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8988 {
  position:absolute;
  left:280px;
  top:779px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8989 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8990 {
  position:absolute;
  left:431px;
  top:1089px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8991 {
  position:absolute;
  left:280px;
  top:639px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8992 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8993 {
  position:absolute;
  left:280px;
  top:569px;
  width:420px;
  height:50px;
  font-size:15px;
  color:#A1A1A1;
  text-align:left;
}
#u8994 {
  position:absolute;
  left:2px;
  top:16px;
  width:416px;
  word-wrap:break-word;
}
