body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1692px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u32559 {
  position:absolute;
  left:30px;
  top:322px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u32560 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u32561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u32561 {
  position:absolute;
  left:30px;
  top:373px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u32562 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u32563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u32563 {
  position:absolute;
  left:30px;
  top:272px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u32564 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u32565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u32565 {
  position:absolute;
  left:31px;
  top:221px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u32566 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u32567 {
  position:absolute;
  left:1592px;
  top:369px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32568 {
  position:absolute;
  left:522px;
  top:858px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:525px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u32569 {
  position:absolute;
  left:350px;
  top:171px;
  width:880px;
  height:525px;
  font-size:16px;
  text-align:left;
}
#u32570 {
  position:absolute;
  left:2px;
  top:254px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u32571 {
  position:absolute;
  left:530px;
  top:201px;
  width:73px;
  height:16px;
  font-size:13px;
  color:#949494;
}
#u32572 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u32573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32573 {
  position:absolute;
  left:383px;
  top:191px;
  width:50px;
  height:50px;
  color:#868686;
}
#u32574 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u32575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32575 {
  position:absolute;
  left:456px;
  top:201px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32576 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u32577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32577 {
  position:absolute;
  left:456px;
  top:233px;
  width:682px;
  height:54px;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32578 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u32579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:2px;
}
#u32579 {
  position:absolute;
  left:383px;
  top:306px;
  width:823px;
  height:1px;
}
#u32580 {
  position:absolute;
  left:2px;
  top:-8px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u32581 {
  position:absolute;
  left:530px;
  top:350px;
  width:73px;
  height:16px;
  font-size:13px;
  color:#949494;
}
#u32582 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u32583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32583 {
  position:absolute;
  left:383px;
  top:340px;
  width:50px;
  height:50px;
  color:#868686;
}
#u32584 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u32585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32585 {
  position:absolute;
  left:456px;
  top:350px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32586 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u32587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32587 {
  position:absolute;
  left:456px;
  top:382px;
  width:682px;
  height:18px;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32588 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u32589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:2px;
}
#u32589 {
  position:absolute;
  left:383px;
  top:455px;
  width:823px;
  height:1px;
}
#u32590 {
  position:absolute;
  left:2px;
  top:-8px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u32591 {
  position:absolute;
  left:530px;
  top:485px;
  width:73px;
  height:16px;
  font-size:13px;
  color:#949494;
}
#u32592 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u32593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32593 {
  position:absolute;
  left:383px;
  top:475px;
  width:50px;
  height:50px;
  color:#868686;
}
#u32594 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u32595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32595 {
  position:absolute;
  left:456px;
  top:485px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32596 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u32597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32597 {
  position:absolute;
  left:456px;
  top:517px;
  width:682px;
  height:18px;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32598 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u32599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u32599 {
  position:absolute;
  left:1243px;
  top:171px;
  width:300px;
  height:51px;
  font-size:15px;
}
#u32600 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u32601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:2px;
}
#u32601 {
  position:absolute;
  left:383px;
  top:574px;
  width:823px;
  height:1px;
}
#u32602 {
  position:absolute;
  left:2px;
  top:-8px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u32603 {
  position:absolute;
  left:530px;
  top:604px;
  width:73px;
  height:16px;
  font-size:13px;
  color:#949494;
}
#u32604 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u32605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u32605 {
  position:absolute;
  left:383px;
  top:594px;
  width:50px;
  height:50px;
  color:#868686;
}
#u32606 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u32607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32607 {
  position:absolute;
  left:456px;
  top:604px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u32608 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u32609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32609 {
  position:absolute;
  left:456px;
  top:636px;
  width:682px;
  height:18px;
  font-size:14px;
  color:#515151;
  line-height:18px;
}
#u32610 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u32611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u32611 {
  position:absolute;
  left:1121px;
  top:365px;
  width:82px;
  height:34px;
  color:#363636;
}
#u32612 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u32613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32613 {
  position:absolute;
  left:31px;
  top:332px;
  width:6px;
  height:29px;
}
#u32614 {
  position:absolute;
  left:2px;
  top:6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  -webkit-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
}
#u32615 {
  position:absolute;
  left:30px;
  top:10px;
  width:1200px;
  height:140px;
}
#u32616 {
  position:absolute;
  left:2px;
  top:62px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u32617 {
  position:absolute;
  left:1164px;
  top:85px;
  width:48px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u32618 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u32619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:91px;
}
#u32619 {
  position:absolute;
  left:44px;
  top:50px;
  width:249px;
  height:90px;
  font-size:16px;
}
#u32620 {
  position:absolute;
  left:2px;
  top:36px;
  width:245px;
  word-wrap:break-word;
}
#u32621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32621 {
  position:absolute;
  left:30px;
  top:0px;
  width:1200px;
  height:40px;
}
#u32622 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u32623 {
  position:absolute;
  left:44px;
  top:13px;
  width:253px;
  height:16px;
  color:#515151;
}
#u32624 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u32625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u32626 {
  position:absolute;
  left:30px;
  top:718px;
  width:1200px;
  height:150px;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u32627 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:16px;
}
#u32628 {
  position:absolute;
  left:56px;
  top:749px;
  width:584px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u32629 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u32630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:48px;
}
#u32630 {
  position:absolute;
  left:56px;
  top:795px;
  width:489px;
  height:48px;
  font-size:14px;
  color:#797979;
}
#u32631 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u32632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u32632 {
  position:absolute;
  left:817px;
  top:749px;
  width:164px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u32633 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u32634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32634 {
  position:absolute;
  left:664px;
  top:740px;
  width:111px;
  height:35px;
  color:#FFFFFF;
}
#u32635 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u32636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:91px;
}
#u32636 {
  position:absolute;
  left:1026px;
  top:748px;
  width:182px;
  height:90px;
  font-size:16px;
}
#u32637 {
  position:absolute;
  left:2px;
  top:26px;
  width:178px;
  word-wrap:break-word;
}
#u32638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u32638 {
  position:absolute;
  left:1043px;
  top:13px;
  width:159px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u32639 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u32640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
}
#u32640 {
  position:absolute;
  left:525px;
  top:86px;
  width:289px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u32641 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u32642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u32642 {
  position:absolute;
  left:30px;
  top:171px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u32643 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
