body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2766px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:602px;
}
#u0 {
  position:absolute;
  left:95px;
  top:3143px;
  width:313px;
  height:602px;
}
#u1 {
  position:absolute;
  left:2px;
  top:293px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:547px;
}
#u2 {
  position:absolute;
  left:95px;
  top:2482px;
  width:374px;
  height:547px;
}
#u3 {
  position:absolute;
  left:2px;
  top:266px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:1564px;
}
#u4 {
  position:absolute;
  left:1422px;
  top:2682px;
  width:498px;
  height:1564px;
}
#u5 {
  position:absolute;
  left:2px;
  top:774px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6 {
  position:absolute;
  left:628px;
  top:168px;
  width:694px;
  height:50px;
  font-size:14px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:690px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u8 {
  position:absolute;
  left:833px;
  top:308px;
  width:170px;
  height:60px;
  font-size:14px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1155px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u10 {
  position:absolute;
  left:19px;
  top:785px;
  width:1155px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:1151px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u12 {
  position:absolute;
  left:843px;
  top:435px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u14 {
  position:absolute;
  left:851px;
  top:597px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u16 {
  position:absolute;
  left:734px;
  top:911px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u18 {
  position:absolute;
  left:1596px;
  top:308px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u20 {
  position:absolute;
  left:1604px;
  top:469px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u21 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u22 {
  position:absolute;
  left:1332px;
  top:168px;
  width:749px;
  height:50px;
  font-size:14px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:745px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u24 {
  position:absolute;
  left:351px;
  top:2817px;
  width:492px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u26 {
  position:absolute;
  left:1596px;
  top:660px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u27 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u28 {
  position:absolute;
  left:2091px;
  top:168px;
  width:510px;
  height:50px;
  font-size:14px;
}
#u29 {
  position:absolute;
  left:2px;
  top:16px;
  width:506px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:1969px;
  width:1193px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:1189px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u32 {
  position:absolute;
  left:903px;
  top:1545px;
  width:170px;
  height:60px;
  font-size:14px;
}
#u33 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u34 {
  position:absolute;
  left:913px;
  top:1672px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u35 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u36 {
  position:absolute;
  left:921px;
  top:1834px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u37 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u38 {
  position:absolute;
  left:913px;
  top:1981px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u40 {
  position:absolute;
  left:1596px;
  top:1545px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u41 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u42 {
  position:absolute;
  left:1604px;
  top:1706px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u43 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u44 {
  position:absolute;
  left:1596px;
  top:1846px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u45 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u46 {
  position:absolute;
  left:236px;
  top:3429px;
  width:719px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:22px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:715px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u48 {
  position:absolute;
  left:1596px;
  top:3223px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u49 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u50 {
  position:absolute;
  left:1596px;
  top:3366px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u51 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u52 {
  position:absolute;
  left:1596px;
  top:3500px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u53 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u54 {
  position:absolute;
  left:481px;
  top:3910px;
  width:230px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:22px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u56 {
  position:absolute;
  left:1596px;
  top:2720px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u57 {
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u58 {
  position:absolute;
  left:1596px;
  top:3888px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:50px;
  background:inherit;
  background-color:rgba(239, 243, 247, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(187, 208, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
}
#u60 {
  position:absolute;
  left:405px;
  top:4222px;
  width:382px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u62 {
  position:absolute;
  left:1596px;
  top:4124px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u63 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u64 {
  position:absolute;
  left:2239px;
  top:308px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u65 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u66 {
  position:absolute;
  left:2239px;
  top:458px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u67 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u68 {
  position:absolute;
  left:2239px;
  top:642px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u69 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u70 {
  position:absolute;
  left:2239px;
  top:2720px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u71 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u72 {
  position:absolute;
  left:2239px;
  top:907px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u73 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u74 {
  position:absolute;
  left:1069px;
  top:2020px;
  width:211px;
  height:16px;
  font-size:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u76 {
  position:absolute;
  left:1291px;
  top:2289px;
  width:154px;
  height:32px;
  font-size:14px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u78 {
  position:absolute;
  left:1002px;
  top:469px;
  width:125px;
  height:32px;
  font-size:14px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u80 {
  position:absolute;
  left:1072px;
  top:1701px;
  width:125px;
  height:32px;
  font-size:14px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u82 {
  position:absolute;
  left:1755px;
  top:691px;
  width:125px;
  height:32px;
  font-size:14px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u84 {
  position:absolute;
  left:1596px;
  top:2870px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u85 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:918px;
  top:368px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u86_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:21px;
}
#u87 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:918px;
  top:529px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u88_seg1 {
  position:absolute;
  left:-10px;
  top:54px;
  width:20px;
  height:21px;
}
#u89 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1671px;
  top:402px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u90_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:21px;
}
#u91 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1671px;
  top:549px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:115px;
}
#u92_seg1 {
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:21px;
}
#u93 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1738px;
  top:509px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u94_seg1 {
  position:absolute;
  left:71px;
  top:-158px;
  width:8px;
  height:162px;
}
#u94_seg2 {
  position:absolute;
  left:7px;
  top:-158px;
  width:72px;
  height:8px;
}
#u94_seg3 {
  position:absolute;
  left:0px;
  top:-164px;
  width:21px;
  height:20px;
}
#u95 {
  position:absolute;
  left:25px;
  top:-81px;
  width:100px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1671px;
  top:754px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u96_seg1 {
  position:absolute;
  left:-4px;
  top:44px;
  width:235px;
  height:8px;
}
#u96_seg2 {
  position:absolute;
  left:223px;
  top:-403px;
  width:8px;
  height:455px;
}
#u96_seg3 {
  position:absolute;
  left:74px;
  top:-403px;
  width:157px;
  height:8px;
}
#u96_seg4 {
  position:absolute;
  left:67px;
  top:-409px;
  width:21px;
  height:20px;
}
#u97 {
  position:absolute;
  left:177px;
  top:-122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:985px;
  top:637px;
  width:0px;
  height:0px;
}
#u98_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:287px;
  height:8px;
}
#u98_seg1 {
  position:absolute;
  left:279px;
  top:-366px;
  width:8px;
  height:370px;
}
#u98_seg2 {
  position:absolute;
  left:279px;
  top:-366px;
  width:411px;
  height:8px;
}
#u98_seg3 {
  position:absolute;
  left:682px;
  top:-366px;
  width:8px;
  height:37px;
}
#u98_seg4 {
  position:absolute;
  left:676px;
  top:-343px;
  width:20px;
  height:21px;
}
#u99 {
  position:absolute;
  left:233px;
  top:-265px;
  width:100px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1003px;
  top:338px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u100_seg1 {
  position:absolute;
  left:156px;
  top:-94px;
  width:8px;
  height:98px;
}
#u100_seg2 {
  position:absolute;
  left:156px;
  top:-94px;
  width:333px;
  height:8px;
}
#u100_seg3 {
  position:absolute;
  left:481px;
  top:-94px;
  width:8px;
  height:8px;
}
#u100_seg4 {
  position:absolute;
  left:481px;
  top:-94px;
  width:834px;
  height:8px;
}
#u100_seg5 {
  position:absolute;
  left:1307px;
  top:-94px;
  width:8px;
  height:64px;
}
#u100_seg6 {
  position:absolute;
  left:1301px;
  top:-44px;
  width:20px;
  height:21px;
}
#u101 {
  position:absolute;
  left:590px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:2314px;
  top:402px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u102_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:21px;
}
#u103 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:2314px;
  top:552px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u104_seg1 {
  position:absolute;
  left:-10px;
  top:76px;
  width:20px;
  height:21px;
}
#u105 {
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:2388px;
  top:689px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u106_seg1 {
  position:absolute;
  left:55px;
  top:-4px;
  width:8px;
  height:2086px;
}
#u106_seg2 {
  position:absolute;
  left:0px;
  top:2074px;
  width:63px;
  height:8px;
}
#u106_seg3 {
  position:absolute;
  left:-7px;
  top:2068px;
  width:21px;
  height:20px;
}
#u107 {
  position:absolute;
  left:9px;
  top:1031px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u108 {
  position:absolute;
  left:2247px;
  top:2870px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u109 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:2314px;
  top:2814px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u110_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:21px;
}
#u111 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:2247px;
  top:2910px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u112_seg1 {
  position:absolute;
  left:-74px;
  top:-1960px;
  width:8px;
  height:1964px;
}
#u112_seg2 {
  position:absolute;
  left:-74px;
  top:-1960px;
  width:66px;
  height:8px;
}
#u112_seg3 {
  position:absolute;
  left:-22px;
  top:-1966px;
  width:21px;
  height:20px;
}
#u113 {
  position:absolute;
  left:-120px;
  top:-981px;
  width:100px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:2381px;
  top:2910px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:167px;
  height:8px;
}
#u114_seg1 {
  position:absolute;
  left:159px;
  top:-2409px;
  width:8px;
  height:2413px;
}
#u114_seg2 {
  position:absolute;
  left:7px;
  top:-2409px;
  width:160px;
  height:8px;
}
#u114_seg3 {
  position:absolute;
  left:0px;
  top:-2415px;
  width:21px;
  height:20px;
}
#u115 {
  position:absolute;
  left:113px;
  top:-1207px;
  width:100px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1671px;
  top:1639px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u116_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:21px;
}
#u117 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1671px;
  top:1786px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u118_seg1 {
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:21px;
}
#u119 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1671px;
  top:3317px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u120_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:21px;
}
#u121 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1671px;
  top:3460px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u122_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:21px;
}
#u123 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u124 {
  position:absolute;
  left:1604px;
  top:3642px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u125 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1671px;
  top:3594px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u126_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:21px;
}
#u127 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:1738px;
  top:3682px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u128_seg1 {
  position:absolute;
  left:39px;
  top:-139px;
  width:8px;
  height:143px;
}
#u128_seg2 {
  position:absolute;
  left:7px;
  top:-139px;
  width:40px;
  height:8px;
}
#u128_seg3 {
  position:absolute;
  left:0px;
  top:-145px;
  width:21px;
  height:20px;
}
#u129 {
  position:absolute;
  left:-8px;
  top:-72px;
  width:100px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1671px;
  top:3722px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:17px;
}
#u130_seg1 {
  position:absolute;
  left:-4px;
  top:9px;
  width:163px;
  height:8px;
}
#u130_seg2 {
  position:absolute;
  left:151px;
  top:-959px;
  width:8px;
  height:976px;
}
#u130_seg3 {
  position:absolute;
  left:74px;
  top:-959px;
  width:85px;
  height:8px;
}
#u130_seg4 {
  position:absolute;
  left:67px;
  top:-965px;
  width:21px;
  height:20px;
}
#u131 {
  position:absolute;
  left:105px;
  top:-435px;
  width:100px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:1745px;
  top:1893px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u132_seg1 {
  position:absolute;
  left:145px;
  top:-4px;
  width:8px;
  height:1385px;
}
#u132_seg2 {
  position:absolute;
  left:0px;
  top:1373px;
  width:153px;
  height:8px;
}
#u132_seg3 {
  position:absolute;
  left:-7px;
  top:1367px;
  width:21px;
  height:20px;
}
#u133 {
  position:absolute;
  left:99px;
  top:680px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:1596px;
  top:2767px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  position:absolute;
  left:-94px;
  top:-4px;
  width:94px;
  height:8px;
}
#u134_seg1 {
  position:absolute;
  left:-94px;
  top:-4px;
  width:8px;
  height:1176px;
}
#u134_seg2 {
  position:absolute;
  left:-94px;
  top:1164px;
  width:94px;
  height:8px;
}
#u134_seg3 {
  position:absolute;
  left:-14px;
  top:1158px;
  width:21px;
  height:20px;
}
#u135 {
  position:absolute;
  left:-140px;
  top:576px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1671px;
  top:3982px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:146px;
}
#u136_seg1 {
  position:absolute;
  left:-10px;
  top:128px;
  width:20px;
  height:21px;
}
#u137 {
  position:absolute;
  left:-50px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1596px;
  top:4171px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u138_seg1 {
  position:absolute;
  left:-42px;
  top:-1258px;
  width:8px;
  height:1262px;
}
#u138_seg2 {
  position:absolute;
  left:-42px;
  top:-1258px;
  width:42px;
  height:8px;
}
#u138_seg3 {
  position:absolute;
  left:-14px;
  top:-1264px;
  width:21px;
  height:20px;
}
#u139 {
  position:absolute;
  left:-88px;
  top:-635px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u140 {
  position:absolute;
  left:1596px;
  top:2052px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u141 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1671px;
  top:2682px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  position:absolute;
  left:-4px;
  top:-536px;
  width:8px;
  height:540px;
}
#u142_seg1 {
  position:absolute;
  left:-10px;
  top:-543px;
  width:20px;
  height:21px;
}
#u143 {
  position:absolute;
  left:-50px;
  top:-276px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u144 {
  position:absolute;
  left:1755px;
  top:2083px;
  width:125px;
  height:32px;
  font-size:14px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1596px;
  top:2099px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u146_seg1 {
  position:absolute;
  left:-57px;
  top:-511px;
  width:8px;
  height:515px;
}
#u146_seg2 {
  position:absolute;
  left:-57px;
  top:-511px;
  width:57px;
  height:8px;
}
#u146_seg3 {
  position:absolute;
  left:-14px;
  top:-517px;
  width:21px;
  height:20px;
}
#u147 {
  position:absolute;
  left:-103px;
  top:-262px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:988px;
  top:1605px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u148_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:21px;
}
#u149 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:988px;
  top:1766px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u150_seg1 {
  position:absolute;
  left:-10px;
  top:54px;
  width:20px;
  height:21px;
}
#u151 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:988px;
  top:1914px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u152_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:21px;
}
#u153 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:1055px;
  top:1874px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:314px;
  height:8px;
}
#u154_seg1 {
  position:absolute;
  left:306px;
  top:-372px;
  width:8px;
  height:376px;
}
#u154_seg2 {
  position:absolute;
  left:306px;
  top:-372px;
  width:314px;
  height:8px;
}
#u154_seg3 {
  position:absolute;
  left:612px;
  top:-372px;
  width:8px;
  height:43px;
}
#u154_seg4 {
  position:absolute;
  left:606px;
  top:-343px;
  width:20px;
  height:21px;
}
#u155 {
  position:absolute;
  left:260px;
  top:-209px;
  width:100px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u156 {
  position:absolute;
  left:1857px;
  top:1706px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u157 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u158 {
  position:absolute;
  left:1596px;
  top:4310px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u159 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1924px;
  top:1786px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u160_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:68px;
  height:8px;
}
#u160_seg2 {
  position:absolute;
  left:56px;
  top:26px;
  width:8px;
  height:2549px;
}
#u160_seg3 {
  position:absolute;
  left:-179px;
  top:2567px;
  width:243px;
  height:8px;
}
#u160_seg4 {
  position:absolute;
  left:-186px;
  top:2561px;
  width:21px;
  height:20px;
}
#u161 {
  position:absolute;
  left:10px;
  top:1360px;
  width:100px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:1738px;
  top:1746px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u162_seg1 {
  position:absolute;
  left:38px;
  top:-158px;
  width:8px;
  height:162px;
}
#u162_seg2 {
  position:absolute;
  left:7px;
  top:-158px;
  width:39px;
  height:8px;
}
#u162_seg3 {
  position:absolute;
  left:0px;
  top:-164px;
  width:21px;
  height:20px;
}
#u163 {
  position:absolute;
  left:-8px;
  top:-81px;
  width:100px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1671px;
  top:1639px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u164_seg1 {
  position:absolute;
  left:-4px;
  top:15px;
  width:261px;
  height:8px;
}
#u164_seg2 {
  position:absolute;
  left:249px;
  top:15px;
  width:8px;
  height:52px;
}
#u164_seg3 {
  position:absolute;
  left:243px;
  top:53px;
  width:20px;
  height:21px;
}
#u165 {
  position:absolute;
  left:91px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1991px;
  top:1746px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:23px;
  height:8px;
}
#u166_seg1 {
  position:absolute;
  left:15px;
  top:-158px;
  width:8px;
  height:162px;
}
#u166_seg2 {
  position:absolute;
  left:-246px;
  top:-158px;
  width:269px;
  height:8px;
}
#u166_seg3 {
  position:absolute;
  left:-253px;
  top:-164px;
  width:21px;
  height:20px;
}
#u167 {
  position:absolute;
  left:-77px;
  top:-162px;
  width:100px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u168 {
  position:absolute;
  left:958px;
  top:911px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u169 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u170 {
  position:absolute;
  left:859px;
  top:1051px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u171 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u172 {
  position:absolute;
  left:851px;
  top:1181px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u173 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u174 {
  position:absolute;
  left:1068px;
  top:1181px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u175 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:926px;
  top:1131px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u176_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:21px;
}
#u177 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:993px;
  top:1091px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u178_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:94px;
}
#u178_seg2 {
  position:absolute;
  left:140px;
  top:76px;
  width:20px;
  height:21px;
}
#u179 {
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:918px;
  top:830px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u180_seg1 {
  position:absolute;
  left:-113px;
  top:35px;
  width:117px;
  height:8px;
}
#u180_seg2 {
  position:absolute;
  left:-113px;
  top:35px;
  width:8px;
  height:47px;
}
#u180_seg3 {
  position:absolute;
  left:-119px;
  top:67px;
  width:20px;
  height:21px;
}
#u181 {
  position:absolute;
  left:-106px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:918px;
  top:824px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u182_seg1 {
  position:absolute;
  left:-4px;
  top:39px;
  width:123px;
  height:8px;
}
#u182_seg2 {
  position:absolute;
  left:111px;
  top:39px;
  width:8px;
  height:48px;
}
#u182_seg3 {
  position:absolute;
  left:105px;
  top:73px;
  width:20px;
  height:21px;
}
#u183 {
  position:absolute;
  left:8px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:935px;
  top:834px;
  width:15px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u186 {
  position:absolute;
  left:851px;
  top:744px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u187 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:918px;
  top:677px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u188_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:21px;
}
#u189 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:809px;
  top:1005px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u190_seg1 {
  position:absolute;
  left:-4px;
  top:21px;
  width:125px;
  height:8px;
}
#u190_seg2 {
  position:absolute;
  left:113px;
  top:21px;
  width:8px;
  height:25px;
}
#u190_seg3 {
  position:absolute;
  left:107px;
  top:32px;
  width:20px;
  height:21px;
}
#u191 {
  position:absolute;
  left:6px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1033px;
  top:1005px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u192_seg1 {
  position:absolute;
  left:-111px;
  top:21px;
  width:115px;
  height:8px;
}
#u192_seg2 {
  position:absolute;
  left:-111px;
  top:21px;
  width:8px;
  height:25px;
}
#u192_seg3 {
  position:absolute;
  left:-117px;
  top:32px;
  width:20px;
  height:21px;
}
#u193 {
  position:absolute;
  left:-102px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1068px;
  top:1228px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  position:absolute;
  left:-68px;
  top:-4px;
  width:72px;
  height:8px;
}
#u194_seg1 {
  position:absolute;
  left:-75px;
  top:-10px;
  width:21px;
  height:20px;
}
#u195 {
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u196 {
  position:absolute;
  left:1213px;
  top:911px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u197 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u198 {
  position:absolute;
  left:913px;
  top:2658px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u199 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u200 {
  position:absolute;
  left:913px;
  top:2807px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u201 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u202 {
  position:absolute;
  left:1125px;
  top:2807px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u203 {
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u204 {
  position:absolute;
  left:913px;
  top:2940px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u205 {
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u206 {
  position:absolute;
  left:921px;
  top:2120px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u207 {
  position:absolute;
  left:2px;
  top:31px;
  width:130px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u208 {
  position:absolute;
  left:913px;
  top:2250px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u209 {
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u210 {
  position:absolute;
  left:1130px;
  top:2250px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u211 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:988px;
  top:2200px;
  width:0px;
  height:0px;
}
#u212_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u212_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:21px;
}
#u213 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1055px;
  top:2160px;
  width:0px;
  height:0px;
}
#u214_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u214_seg1 {
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:94px;
}
#u214_seg2 {
  position:absolute;
  left:140px;
  top:76px;
  width:20px;
  height:21px;
}
#u215 {
  position:absolute;
  left:70px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1130px;
  top:2297px;
  width:0px;
  height:0px;
}
#u216_seg0 {
  position:absolute;
  left:-68px;
  top:-4px;
  width:72px;
  height:8px;
}
#u216_seg1 {
  position:absolute;
  left:-75px;
  top:-10px;
  width:21px;
  height:20px;
}
#u217 {
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u218 {
  position:absolute;
  left:1130px;
  top:2354px;
  width:149px;
  height:32px;
  font-size:14px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:988px;
  top:2075px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u220_seg1 {
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:21px;
}
#u221 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:988px;
  top:2344px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:318px;
}
#u222_seg1 {
  position:absolute;
  left:-10px;
  top:300px;
  width:20px;
  height:21px;
}
#u223 {
  position:absolute;
  left:-50px;
  top:149px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:988px;
  top:2752px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u224_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:21px;
}
#u225 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:988px;
  top:2752px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u226_seg1 {
  position:absolute;
  left:-4px;
  top:21px;
  width:220px;
  height:8px;
}
#u226_seg2 {
  position:absolute;
  left:208px;
  top:21px;
  width:8px;
  height:34px;
}
#u226_seg3 {
  position:absolute;
  left:202px;
  top:41px;
  width:20px;
  height:21px;
}
#u227 {
  position:absolute;
  left:58px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:988px;
  top:2901px;
  width:0px;
  height:0px;
}
#u228_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u228_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:21px;
}
#u229 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:851px;
  top:1228px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u230_seg1 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:1485px;
}
#u230_seg2 {
  position:absolute;
  left:-74px;
  top:1473px;
  width:136px;
  height:8px;
}
#u230_seg3 {
  position:absolute;
  left:48px;
  top:1467px;
  width:21px;
  height:20px;
}
#u231 {
  position:absolute;
  left:-120px;
  top:762px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:48px;
}
#u232 {
  position:absolute;
  left:2239px;
  top:1017px;
  width:157px;
  height:48px;
  font-size:14px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:80px;
}
#u234 {
  position:absolute;
  left:1097px;
  top:744px;
  width:134px;
  height:80px;
  font-size:14px;
}
#u235 {
  position:absolute;
  left:2px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:985px;
  top:784px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u236_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u237 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1231px;
  top:784px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u238_seg1 {
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:131px;
}
#u238_seg2 {
  position:absolute;
  left:47px;
  top:113px;
  width:20px;
  height:21px;
}
#u239 {
  position:absolute;
  left:7px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1164px;
  top:824px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u240_seg1 {
  position:absolute;
  left:-186px;
  top:39px;
  width:190px;
  height:8px;
}
#u240_seg2 {
  position:absolute;
  left:-193px;
  top:33px;
  width:21px;
  height:20px;
}
#u241 {
  position:absolute;
  left:-122px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1288px;
  top:1005px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u242_seg1 {
  position:absolute;
  left:-258px;
  top:20px;
  width:262px;
  height:8px;
}
#u242_seg2 {
  position:absolute;
  left:-265px;
  top:14px;
  width:21px;
  height:20px;
}
#u243 {
  position:absolute;
  left:-167px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:2666px;
  top:1505px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u245 {
  position:absolute;
  left:1215px;
  top:4534px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u246 {
  position:absolute;
  left:196px;
  top:2514px;
  width:170px;
  height:60px;
  font-size:14px;
}
#u247 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u248 {
  position:absolute;
  left:207px;
  top:2634px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u249 {
  position:absolute;
  left:2px;
  top:30px;
  width:145px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u250 {
  position:absolute;
  left:207px;
  top:2787px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u251 {
  position:absolute;
  left:2px;
  top:20px;
  width:145px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u252 {
  position:absolute;
  left:196px;
  top:2941px;
  width:170px;
  height:60px;
  font-size:14px;
}
#u253 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:281px;
  top:2574px;
  width:0px;
  height:0px;
}
#u254_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u254_seg1 {
  position:absolute;
  left:-4px;
  top:42px;
  width:9px;
  height:8px;
}
#u254_seg2 {
  position:absolute;
  left:-3px;
  top:42px;
  width:8px;
  height:18px;
}
#u254_seg3 {
  position:absolute;
  left:-9px;
  top:46px;
  width:20px;
  height:21px;
}
#u255 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:282px;
  top:2728px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u256_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:21px;
}
#u257 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:282px;
  top:2881px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u258_seg1 {
  position:absolute;
  left:-5px;
  top:45px;
  width:9px;
  height:8px;
}
#u258_seg2 {
  position:absolute;
  left:-5px;
  top:45px;
  width:8px;
  height:15px;
}
#u258_seg3 {
  position:absolute;
  left:-11px;
  top:46px;
  width:20px;
  height:21px;
}
#u259 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:913px;
  top:2987px;
  width:0px;
  height:0px;
}
#u260_seg0 {
  position:absolute;
  left:-389px;
  top:-4px;
  width:389px;
  height:8px;
}
#u260_seg1 {
  position:absolute;
  left:-389px;
  top:-235px;
  width:8px;
  height:239px;
}
#u260_seg2 {
  position:absolute;
  left:-444px;
  top:-235px;
  width:63px;
  height:8px;
}
#u260_seg3 {
  position:absolute;
  left:-451px;
  top:-241px;
  width:21px;
  height:20px;
}
#u261 {
  position:absolute;
  left:-388px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u262 {
  position:absolute;
  left:166px;
  top:3185px;
  width:170px;
  height:60px;
  font-size:14px;
}
#u263 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u264 {
  position:absolute;
  left:95px;
  top:2434px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u266 {
  position:absolute;
  left:176px;
  top:3307px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u267 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:251px;
  top:3245px;
  width:0px;
  height:0px;
}
#u268_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u268_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:21px;
}
#u269 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u270 {
  position:absolute;
  left:99px;
  top:3103px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:94px;
}
#u272 {
  position:absolute;
  left:176px;
  top:3466px;
  width:149px;
  height:94px;
  font-size:14px;
}
#u273 {
  position:absolute;
  left:2px;
  top:38px;
  width:145px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u274 {
  position:absolute;
  left:166px;
  top:3632px;
  width:170px;
  height:60px;
  font-size:14px;
}
#u275 {
  position:absolute;
  left:2px;
  top:21px;
  width:166px;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:251px;
  top:3401px;
  width:0px;
  height:0px;
}
#u276_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u276_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:21px;
}
#u277 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278 {
  position:absolute;
  left:251px;
  top:3560px;
  width:0px;
  height:0px;
}
#u278_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u278_seg1 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:21px;
}
#u279 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u280 {
  position:absolute;
  left:61px;
  top:233px;
  width:468px;
  height:552px;
  font-size:20px;
  color:#FF0000;
}
#u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  word-wrap:break-word;
}
