body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  -webkit-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
}
#u18929 {
  position:absolute;
  left:30px;
  top:20px;
  width:1200px;
  height:140px;
}
#u18930 {
  position:absolute;
  left:2px;
  top:62px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u18931 {
  position:absolute;
  left:579px;
  top:85px;
  width:454px;
  height:44px;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u18932 {
  position:absolute;
  left:2px;
  top:13px;
  width:450px;
  word-wrap:break-word;
}
#u18933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u18933 {
  position:absolute;
  left:979px;
  top:85px;
  width:84px;
  height:44px;
  font-size:14px;
  color:#515151;
}
#u18934 {
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u18935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u18935 {
  position:absolute;
  left:1164px;
  top:95px;
  width:48px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u18936 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u18937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:91px;
}
#u18937 {
  position:absolute;
  left:44px;
  top:60px;
  width:249px;
  height:90px;
  font-size:16px;
}
#u18938 {
  position:absolute;
  left:2px;
  top:36px;
  width:245px;
  word-wrap:break-word;
}
#u18939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18939 {
  position:absolute;
  left:30px;
  top:10px;
  width:1200px;
  height:40px;
}
#u18940 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u18941 {
  position:absolute;
  left:44px;
  top:23px;
  width:253px;
  height:16px;
  color:#515151;
}
#u18942 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u18943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u18943 {
  position:absolute;
  left:705px;
  top:23px;
  width:502px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u18944 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  white-space:nowrap;
}
#u18945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u18945 {
  position:absolute;
  left:713px;
  top:28px;
  width:10px;
  height:6px;
  color:#6B6B6B;
}
#u18946 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u18947 {
  position:absolute;
  left:814px;
  top:28px;
  width:10px;
  height:6px;
  color:#6B6B6B;
}
#u18948 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u18949 {
  position:absolute;
  left:900px;
  top:28px;
  width:10px;
  height:6px;
  color:#6B6B6B;
}
#u18950 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u18951 {
  position:absolute;
  left:567px;
  top:16px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u18952 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u18953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u18953 {
  position:absolute;
  left:604px;
  top:24px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u18954 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u18955 {
  position:absolute;
  left:669px;
  top:20px;
  width:36px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u18956 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  word-wrap:break-word;
}
#u18957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:683px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18957 {
  position:absolute;
  left:30px;
  top:181px;
  width:300px;
  height:683px;
  font-size:15px;
  text-align:left;
}
#u18958 {
  position:absolute;
  left:2px;
  top:334px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18959 {
  position:absolute;
  left:30px;
  top:242px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18960 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18961 {
  position:absolute;
  left:65px;
  top:208px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18962 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u18963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18963 {
  position:absolute;
  left:30px;
  top:293px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18964 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18965 {
  position:absolute;
  left:30px;
  top:344px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18966 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18967 {
  position:absolute;
  left:30px;
  top:395px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18968 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18969 {
  position:absolute;
  left:30px;
  top:554px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18970 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18971 {
  position:absolute;
  left:65px;
  top:520px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18972 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u18973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18973 {
  position:absolute;
  left:30px;
  top:605px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18974 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18975 {
  position:absolute;
  left:30px;
  top:712px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18976 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18977 {
  position:absolute;
  left:65px;
  top:678px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18978 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u18979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18979 {
  position:absolute;
  left:30px;
  top:763px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18980 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u18981 {
  position:absolute;
  left:244px;
  top:726px;
  width:66px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u18982 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u18983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18983 {
  position:absolute;
  left:30px;
  top:446px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18984 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u18985 {
  position:absolute;
  left:30px;
  top:814px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u18986 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u18987 {
  position:absolute;
  left:42px;
  top:60px;
  width:254px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18988 {
  position:absolute;
  left:30px;
  top:563px;
  width:6px;
  height:29px;
}
#u18989 {
  position:absolute;
  left:2px;
  top:6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18990 {
  position:absolute;
  left:521px;
  top:1133px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u18991 {
  position:absolute;
  left:350px;
  top:241px;
  width:880px;
  height:720px;
  font-size:16px;
  text-align:left;
}
#u18992 {
  position:absolute;
  left:2px;
  top:352px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u18993 {
  position:absolute;
  left:350px;
  top:180px;
  width:880px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u18994 {
  position:absolute;
  left:2px;
  top:22px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18995 {
  position:absolute;
  left:406px;
  top:219px;
  width:4px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u18996 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18997 {
  position:absolute;
  left:380px;
  top:202px;
  width:57px;
  height:16px;
}
#u18998 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u18999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18999 {
  position:absolute;
  left:499px;
  top:202px;
  width:57px;
  height:16px;
}
#u19000 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u19001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
}
#u19001 {
  position:absolute;
  left:1259px;
  top:59px;
  width:300px;
  height:119px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
}
#u19002 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
}
#u19003 {
  position:absolute;
  left:1259px;
  top:229px;
  width:300px;
  height:132px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FF0000;
  line-height:22px;
}
#u19004 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u19006 {
  position:absolute;
  left:30px;
  top:990px;
  width:1200px;
  height:150px;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u19007 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:16px;
}
#u19008 {
  position:absolute;
  left:56px;
  top:1021px;
  width:584px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u19009 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u19010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:48px;
}
#u19010 {
  position:absolute;
  left:56px;
  top:1067px;
  width:489px;
  height:48px;
  font-size:14px;
  color:#797979;
}
#u19011 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u19012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u19012 {
  position:absolute;
  left:817px;
  top:1021px;
  width:164px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u19013 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u19014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19014 {
  position:absolute;
  left:664px;
  top:1012px;
  width:111px;
  height:35px;
  color:#FFFFFF;
}
#u19015 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u19016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:91px;
}
#u19016 {
  position:absolute;
  left:1026px;
  top:1020px;
  width:182px;
  height:90px;
  font-size:16px;
}
#u19017 {
  position:absolute;
  left:2px;
  top:26px;
  width:178px;
  word-wrap:break-word;
}
#u19018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:18px;
}
#u19018 {
  position:absolute;
  left:1259px;
  top:435px;
  width:368px;
  height:54px;
  font-size:15px;
  line-height:18px;
}
#u19019 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u19020 {
  position:absolute;
  left:1809px;
  top:626px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:16px;
}
#u19021 {
  position:absolute;
  left:1259px;
  top:398px;
  width:339px;
  height:16px;
  font-size:15px;
  line-height:16px;
}
#u19022 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
#u19023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  text-decoration:underline;
  color:#0033FF;
  line-height:18px;
}
#u19023 {
  position:absolute;
  left:1262px;
  top:501px;
  width:300px;
  height:18px;
  font-size:15px;
  text-decoration:underline;
  color:#0033FF;
  line-height:18px;
}
#u19024 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u19025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:18px;
}
#u19025 {
  position:absolute;
  left:1259px;
  top:607px;
  width:392px;
  height:36px;
  font-size:15px;
  line-height:18px;
}
#u19026 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u19027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:18px;
}
#u19027 {
  position:absolute;
  left:1259px;
  top:653px;
  width:368px;
  height:18px;
  font-size:15px;
  line-height:18px;
}
#u19028 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u19029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19029 {
  position:absolute;
  left:1261px;
  top:681px;
  width:302px;
  height:152px;
}
#u19030 {
  position:absolute;
  left:2px;
  top:68px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u19031 {
  position:absolute;
  left:1275px;
  top:692px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u19032 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u19033 {
  position:absolute;
  left:1259px;
  top:718px;
  width:304px;
  height:1px;
}
#u19034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19035 {
  position:absolute;
  left:1472px;
  top:784px;
  width:67px;
  height:30px;
}
#u19036 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u19037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19037 {
  position:absolute;
  left:1538px;
  top:689px;
  width:13px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19038 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u19039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u19039 {
  position:absolute;
  left:1285px;
  top:744px;
  width:254px;
  height:16px;
  font-size:13px;
}
#u19040 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u19041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:18px;
}
#u19041 {
  position:absolute;
  left:1601px;
  top:790px;
  width:368px;
  height:18px;
  font-size:15px;
  line-height:18px;
}
#u19042 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u19043 {
  position:absolute;
  left:1539px;
  top:799px;
  width:0px;
  height:0px;
}
#u19043_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u19043_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19044 {
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u19045 {
  position:absolute;
  left:655px;
  top:267px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u19046 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u19047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19047 {
  position:absolute;
  left:386px;
  top:275px;
  width:78px;
  height:16px;
}
#u19048 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u19049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19049 {
  position:absolute;
  left:386px;
  top:308px;
  width:266px;
  height:34px;
}
#u19050 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:16px;
}
#u19051 {
  position:absolute;
  left:386px;
  top:461px;
  width:471px;
  height:16px;
  font-size:14px;
  color:#FF0033;
}
#u19052 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u19053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19053 {
  position:absolute;
  left:386px;
  top:507px;
  width:102px;
  height:16px;
}
#u19054 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u19055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19055 {
  position:absolute;
  left:411px;
  top:539px;
  width:200px;
  height:59px;
  font-size:18px;
}
#u19056 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u19057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19057 {
  position:absolute;
  left:667px;
  top:539px;
  width:200px;
  height:59px;
  font-size:18px;
}
#u19058 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u19059 {
  position:absolute;
  left:386px;
  top:561px;
  width:15px;
  height:16px;
}
#u19060 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19059_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19061 {
  position:absolute;
  left:640px;
  top:561px;
  width:15px;
  height:16px;
}
#u19062 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19061_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:302px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19063 {
  position:absolute;
  left:411px;
  top:616px;
  width:493px;
  height:302px;
  font-size:18px;
}
#u19064 {
  position:absolute;
  left:2px;
  top:143px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:181px;
}
#u19065 {
  position:absolute;
  left:564px;
  top:659px;
  width:180px;
  height:180px;
  font-size:30px;
  color:#AEAEAE;
}
#u19066 {
  position:absolute;
  left:2px;
  top:72px;
  width:176px;
  word-wrap:break-word;
}
#u19067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19067 {
  position:absolute;
  left:529px;
  top:865px;
  width:257px;
  height:19px;
  font-size:16px;
}
#u19068 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u19069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
}
#u19069 {
  position:absolute;
  left:411px;
  top:929px;
  width:323px;
  height:16px;
  font-size:14px;
  color:#949494;
}
#u19070 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u19071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19071 {
  position:absolute;
  left:416px;
  top:326px;
  width:51px;
  height:1px;
}
#u19072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19073 {
  position:absolute;
  left:668px;
  top:308px;
  width:266px;
  height:34px;
}
#u19074 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19075 {
  position:absolute;
  left:693px;
  top:326px;
  width:51px;
  height:1px;
}
#u19076 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19077 {
  position:absolute;
  left:949px;
  top:308px;
  width:266px;
  height:34px;
}
#u19078 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19079 {
  position:absolute;
  left:974px;
  top:326px;
  width:51px;
  height:1px;
}
#u19080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19081 {
  position:absolute;
  left:386px;
  top:357px;
  width:266px;
  height:34px;
}
#u19082 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19083 {
  position:absolute;
  left:416px;
  top:375px;
  width:51px;
  height:1px;
}
#u19084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19085 {
  position:absolute;
  left:668px;
  top:357px;
  width:266px;
  height:34px;
}
#u19086 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19087 {
  position:absolute;
  left:693px;
  top:375px;
  width:51px;
  height:1px;
}
#u19088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19089 {
  position:absolute;
  left:949px;
  top:357px;
  width:266px;
  height:34px;
}
#u19090 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19091 {
  position:absolute;
  left:974px;
  top:375px;
  width:51px;
  height:1px;
}
#u19092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u19093 {
  position:absolute;
  left:386px;
  top:406px;
  width:266px;
  height:34px;
  color:#FF3333;
}
#u19094 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:2px;
}
#u19095 {
  position:absolute;
  left:408px;
  top:424px;
  width:51px;
  height:1px;
}
#u19096 {
  position:absolute;
  left:2px;
  top:-8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19097 {
  position:absolute;
  left:668px;
  top:406px;
  width:266px;
  height:34px;
}
#u19098 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:2px;
}
#u19099 {
  position:absolute;
  left:677px;
  top:424px;
  width:68px;
  height:1px;
}
#u19100 {
  position:absolute;
  left:2px;
  top:-8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u19101 {
  position:absolute;
  left:536px;
  top:507px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u19102 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u19103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:34px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19103 {
  position:absolute;
  left:1262px;
  top:530px;
  width:266px;
  height:34px;
}
#u19104 {
  position:absolute;
  left:2px;
  top:8px;
  width:262px;
  word-wrap:break-word;
}
#u19105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:2px;
}
#u19105 {
  position:absolute;
  left:1271px;
  top:548px;
  width:68px;
  height:1px;
}
#u19106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u19107 {
  position:absolute;
  left:1147px;
  top:202px;
  width:73px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u19108 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19109 {
  position:absolute;
  left:1120px;
  top:200px;
  width:20px;
  height:20px;
  font-size:12px;
}
#u19110 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
