body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u22119 {
  position:absolute;
  left:350px;
  top:179px;
  width:880px;
  height:392px;
  font-size:16px;
  text-align:left;
}
#u22120 {
  position:absolute;
  left:2px;
  top:188px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  -webkit-box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
  box-shadow:0px 1px 0px rgba(215, 215, 215, 1);
}
#u22122 {
  position:absolute;
  left:30px;
  top:20px;
  width:1200px;
  height:140px;
}
#u22123 {
  position:absolute;
  left:2px;
  top:62px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u22124 {
  position:absolute;
  left:579px;
  top:85px;
  width:454px;
  height:44px;
  font-size:14px;
  color:#AEAEAE;
  text-align:left;
}
#u22125 {
  position:absolute;
  left:2px;
  top:13px;
  width:450px;
  word-wrap:break-word;
}
#u22126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u22126 {
  position:absolute;
  left:979px;
  top:85px;
  width:84px;
  height:44px;
  font-size:14px;
  color:#515151;
}
#u22127 {
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u22128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:24px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u22128 {
  position:absolute;
  left:1164px;
  top:95px;
  width:48px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#515151;
}
#u22129 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u22130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:91px;
}
#u22130 {
  position:absolute;
  left:44px;
  top:60px;
  width:249px;
  height:90px;
  font-size:16px;
}
#u22131 {
  position:absolute;
  left:2px;
  top:36px;
  width:245px;
  word-wrap:break-word;
}
#u22132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22132 {
  position:absolute;
  left:30px;
  top:10px;
  width:1200px;
  height:40px;
}
#u22133 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u22134 {
  position:absolute;
  left:44px;
  top:23px;
  width:253px;
  height:16px;
  color:#515151;
}
#u22135 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u22136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6B6B6B;
}
#u22136 {
  position:absolute;
  left:705px;
  top:23px;
  width:502px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u22137 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  white-space:nowrap;
}
#u22138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u22138 {
  position:absolute;
  left:713px;
  top:28px;
  width:10px;
  height:6px;
  color:#6B6B6B;
}
#u22139 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u22140 {
  position:absolute;
  left:814px;
  top:28px;
  width:10px;
  height:6px;
  color:#6B6B6B;
}
#u22141 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u22142 {
  position:absolute;
  left:900px;
  top:28px;
  width:10px;
  height:6px;
  color:#6B6B6B;
}
#u22143 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22144 {
  position:absolute;
  left:567px;
  top:16px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u22145 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u22146 {
  position:absolute;
  left:604px;
  top:24px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
}
#u22147 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:37px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u22148 {
  position:absolute;
  left:669px;
  top:20px;
  width:36px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u22149 {
  position:absolute;
  left:2px;
  top:5px;
  width:32px;
  word-wrap:break-word;
}
#u22150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:683px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22150 {
  position:absolute;
  left:30px;
  top:181px;
  width:300px;
  height:683px;
  font-size:15px;
  text-align:left;
}
#u22151 {
  position:absolute;
  left:2px;
  top:334px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22152 {
  position:absolute;
  left:30px;
  top:242px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22153 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22154 {
  position:absolute;
  left:65px;
  top:208px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22155 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22156 {
  position:absolute;
  left:30px;
  top:293px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22157 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22158 {
  position:absolute;
  left:30px;
  top:344px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22159 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22160 {
  position:absolute;
  left:30px;
  top:395px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22161 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22162 {
  position:absolute;
  left:30px;
  top:554px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22163 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22164 {
  position:absolute;
  left:65px;
  top:520px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22165 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22166 {
  position:absolute;
  left:30px;
  top:605px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22167 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22168 {
  position:absolute;
  left:30px;
  top:712px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22169 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22170 {
  position:absolute;
  left:65px;
  top:678px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22171 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u22172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22172 {
  position:absolute;
  left:30px;
  top:763px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22173 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u22174 {
  position:absolute;
  left:244px;
  top:726px;
  width:66px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u22175 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u22176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22176 {
  position:absolute;
  left:30px;
  top:446px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22177 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(174, 174, 174, 0.349019607843137);
  font-size:15px;
  text-align:left;
}
#u22178 {
  position:absolute;
  left:30px;
  top:814px;
  width:300px;
  height:50px;
  font-size:15px;
  text-align:left;
}
#u22179 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u22180 {
  position:absolute;
  left:42px;
  top:60px;
  width:254px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22181 {
  position:absolute;
  left:30px;
  top:775px;
  width:6px;
  height:29px;
}
#u22182 {
  position:absolute;
  left:2px;
  top:6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22183 {
  position:absolute;
  left:506px;
  top:1135px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u22184 {
  position:absolute;
  left:364px;
  top:193px;
  width:853px;
  height:85px;
  font-size:16px;
  text-align:left;
}
#u22185 {
  position:absolute;
  left:2px;
  top:34px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#6B6B6B;
  line-height:36px;
}
#u22186 {
  position:absolute;
  left:382px;
  top:199px;
  width:737px;
  height:72px;
  font-size:15px;
  color:#6B6B6B;
  line-height:36px;
}
#u22187 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  word-wrap:break-word;
}
#u22188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:22px;
}
#u22188 {
  position:absolute;
  left:384px;
  top:312px;
  width:547px;
  height:22px;
  font-size:18px;
}
#u22189 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  word-wrap:break-word;
}
#u22190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u22190 {
  position:absolute;
  left:384px;
  top:357px;
  width:300px;
  height:150px;
  font-size:14px;
  color:#6B6B6B;
  line-height:30px;
}
#u22191 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u22193 {
  position:absolute;
  left:30px;
  top:940px;
  width:1200px;
  height:150px;
  font-size:14px;
  color:#797979;
  text-align:left;
}
#u22194 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:16px;
}
#u22195 {
  position:absolute;
  left:56px;
  top:971px;
  width:584px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u22196 {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u22197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:48px;
}
#u22197 {
  position:absolute;
  left:56px;
  top:1017px;
  width:489px;
  height:48px;
  font-size:14px;
  color:#797979;
}
#u22198 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u22199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
}
#u22199 {
  position:absolute;
  left:817px;
  top:971px;
  width:164px;
  height:16px;
  font-size:14px;
  color:#797979;
}
#u22200 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u22201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22201 {
  position:absolute;
  left:664px;
  top:962px;
  width:111px;
  height:35px;
  color:#FFFFFF;
}
#u22202 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u22203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:91px;
}
#u22203 {
  position:absolute;
  left:1026px;
  top:970px;
  width:182px;
  height:90px;
  font-size:16px;
}
#u22204 {
  position:absolute;
  left:2px;
  top:26px;
  width:178px;
  word-wrap:break-word;
}
#u22205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:16px;
}
#u22205 {
  position:absolute;
  left:1259px;
  top:179px;
  width:339px;
  height:48px;
  font-size:15px;
  line-height:16px;
}
#u22206 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
